@using iCareNow.Common
<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" asp-append-version="true">
    <link rel="stylesheet" href="~/css/global.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout/layout.min.css" asp-append-version="true" />
    @await this.RenderSectionAsync("Styles", required: false)
</head>
<body class="preload">
    <header>
        <nav class="navbar">
            <h1 class="logo"><a asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a></h1>

            <ul class="nav-items">
                <li class="nav-item"><a class="-underline-anim-white -hover-text-white-glare" asp-area="" asp-controller="Home" asp-action="Index">Начало</a></li>
                <li class="nav-item"><a class="-underline-anim-white -hover-text-white-glare" asp-area="" asp-controller="Health" asp-action="Index">Здраве от А до Я</a></li>
                <li class="nav-item"><a class="-underline-anim-white -hover-text-white-glare" asp-area="" asp-controller="AboutUs" asp-action="Index">За нас</a></li>                
                <li style="margin-top: auto;"></li>
                <partial name="_NavPartial" />
            </ul>

            <partial name="_LoginPartial" />
            <img class="menu-btn" onclick="toggleMenu()" src="/assets/menuBtn.svg" alt="Open menu button" />
            <img class="close-btn" onclick="toggleMenu()" src="/assets/closeBtn.svg" alt="Close menu button" />
        </nav>
    </header>

    <main role="main">
        @this.RenderBody()
        <partial name="_CookieConsentPartial" />
    </main>
    <footer>
        <div class="footer-info-container">
            <div class="description-container">
                <h2>@GlobalConstants.SystemName</h2>
                <p>Приложението @GlobalConstants.SystemName е медицински наръчник, който помага  да се справиш със симптомите на често срещаните болести чрез доказани и безопасни методи за лечение.</p>
                <p>Нашето приложение предоставя и опцията за онлайн консултация с квалифицирани медицински лица.</p>
            </div>
            <div class="sitemap-container">
                <h3>Карта на сайта</h3>
                <nav>
                    <a class="-hover-text-white-glare" asp-area="" asp-controller="Home" asp-action="Index">Начало</a>
                    <a class="-hover-text-white-glare" asp-area="" asp-controller="Health" asp-action="Index">Здраве от А до Я</a>
                    <a class="-hover-text-white-glare" asp-area="" asp-controller="AboutUs" asp-action="Index">За нас</a>
                    <a class="-hover-text-white-glare" asp-area="Identity" asp-controller="Account" asp-action="Register">Регистрирай се</a>
                    <a class="-hover-text-white-glare" asp-area="Identity" asp-controller="Account" asp-action="Login">Впиши се</a>
                </nav>
            </div>
            <div class="feedback-container">
                <h3>Имате проблем или идея? <br>Пишете ни!</h3>
                <a asp-area="" asp-controller="Feedback" asp-action="Index" class="-button">Обратна връзка</a>
            </div>
        </div>
        <div class="legal-content-container">
            <a class="-hover-text-white-glare" asp-area="" asp-controller="Policies" asp-action="Tos">Условия за ползване</a>
            <a class="-hover-text-white-glare" asp-area="" asp-controller="Policies" asp-action="Privacy">Политика за поверителност</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
