@page
@model IndexModel
@{
    ViewData["Title"] = "Акаунт";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/identity/login.min.css" asp-append-version="true" />
}

<div class="background">
    <img class="background-image" src="/assets/backgroundImage.png" alt="" />
    <div class="background-darken"></div>
</div>
<section class="first-section">

    <div class="panel-container panel-centered">
        <h2 class="panel-title">@ViewData["Title"]</h2>
        <h4 class="panel-description">@this.User.Identity.Name</h4>

        <form method="post">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            @*<div class="form-group">
            <label asp-for="Input.PhoneNumber"></label>
            <input asp-for="Input.PhoneNumber" class="form-control" />
            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>*@

            <div class="input-fields">
                <a class="-button --large @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Промени имейл</a>
                <a class="-button --large @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Промени парола</a>
                <a class="-button --large @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Лични данни</a>

            </div>

            <div class="panel-buttons">
                <button asp-controller="Account" asp-action="Logout" type="submit" class="-button --danger --large">Изход</button>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@*<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>*@